__pycache__/
*.egg-info/
*.egg
*.spec
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.tox
.venv
env
ENV
.env
.eggs
*.egg
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.py[co]

### Unit test and coverage ###
.htmlcov
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothes.is
.cache
nosetests.xml
coverage.xml
